/* Color Pallete: 
  background: #0f172a 
  Surface / cards: #1e293b
  Primary accent: #e50914 (cinematic red) or #22c55e (green)
  Text primary: #f8fafc
  Text secondary: #94a3b8
*/

.navbar {
  background-color: blue;
  min-height: 10vh;
  font-size: 1.7rem;
  color: #f8fafc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.sidebar ul {
  background-color: lightgray;
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  list-style: none;
  margin: 2px;
}

body {
  background-color: #0f172a;
  min-height: 75vh;
}

.footer {
  background-color: blue;
  min-height: 10vh;
}

button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
